<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardrunfast">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="单词快跑"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ReadActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ReadOtherActivtiy"
            android:launchMode="singleTask"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cardrunfast.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".WordCardActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".LoginUserPwdActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".LoginActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".MineActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".FindActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".FirstActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".WeclomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>